footer {
    background-color: #162c5a;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer section div ul {
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: center;
    padding-right: 2rem;
}

footer div ul li {
    margin: 10px;
}

footer div ul li a {
    color: aliceblue;
    font-weight: 500;
}
